@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  color: #fff;
  margin: 0;
}

header {
  background-color: #EE79FF;
  margin: 0;
}

.link {
  max-width: 10%;

}

.header-link {
  color: #fff;
}

.header-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: #6c8fe0;
}
