@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

header h1 {
  text-align: left;
  color: #fff;
  margin: 0;
  padding: .5rem;
}

.link {
  max-width: 40px;
}

header {
  background-color: #9a6a3e;
}

.header-img {
  width: 100%;
}

.img-large {
  display: none;
}

.header-link {
  align-items: center;
  padding: 0;
  margin: 0;
}

h1 {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  margin: 0;
}

.header-link li {
  display: inline-block;
  align-items: center;
  list-style-type: none;
  font-size: 1.125rem;
  font-weight: bold;
  width: 32%;
}

.header-link a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  background-color: #9a6a3e;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.border {
  align-items: center;
  text-align: center;
  border-color: #3e2916;
  border-top: 1px solid #3e2916;
}

.border-1 {
  padding: .5em 0;
  border-color: #3e2916;
}

.border-2 {
  padding: .5em 0;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #3e2916;
}

.border-3 {
  padding: .5em 0;
  border-color: #3e2916;
}

.coco {
  display: flex;
  border-bottom: 1px solid;
  border-color: #3e2916;
  align-items: center;
  justify-content: space-between;
  padding: .5em 2rem;
  padding-left: 0;
}

.info-box {
  border: 2px solid;
  background-color: #666;
  border-color: #999;
  border-radius: 4px;
  padding: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-right: 1rem;
}

.info-box:hover {
  background-color: #333;
}

.border-3:hover {
  text-decoration: none;
  background-color: #9c7551;
}

.border-2:hover {
  text-decoration: none;
  background-color: #9c7551;
}

.border-1:hover {
  text-decoration: none;
  background-color: #9c7551;
}

.person-circle {
  position: absolute;
  max-width: 50%;
  width: 35%;
  right: 13px;
  top: 8rem;
}

.location-box {
  max-width: 49%;
  padding-left: 1rem;
}

.reward {
  text-align: center;
  background-color: #ffa95a;
}

h3 {
  color: #fff;
  text-align: center;
}

.footer-b {
  background-color: #000;
  text-align: center;
  padding: .2em;
  margin: .5rem;
}

.footer-tag {
  background-color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 1.5em;
  margin: 0;
}

footer {
  text-align: center;
  padding: .5rem;
  padding-bottom: 2rem;
}

ul {
  padding: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.candy-text {
  text-align: center;
  margin-top: 0;
}

.candy {
  margin: 5rem;
  background-color: #a6fcf1;
  box-shadow: 10px 10px 5px lightgrey;
  padding: .5rem;
  min-width: 1rem;
}

.candy-img {
  width: 100%;
}

.candy:first-child {
  background-color: #fca6a6;
  margin-top: 0;
}

.candy:nth-child(2) {
  background-color: #fccea6;
}

.candy:nth-child(3) {
  background-color: #fbfca6;
}

.candy:nth-child(4) {
  background-color: #cdfca6;
}

.candy:nth-child(6) {
  background-color: #c9a6fc;
}

.location-head {
  border-top: 5px solid;
  padding-top: 1rem;
  margin-top: 0;
}

.pad-location {
  padding-left: 1rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #fb5a5a;
}

.btn-small {
  border: 3px solid #ff6a6a;
  border-radius: 8px;
  text-decoration: none;
  padding: .4em 1em .3em;
  font-size: .875rem;
}

.btn:hover {
  border-color: #fe1616;
  background-color: #fb3a3a;
}

.light {
  background-color: #e2e2e2;
  padding: 2rem;
}

.medium {
  background-color: #ccc;
  padding-bottom: 2rem;
  padding: 2rem;
}

.dark {
  background-color: #aaa;
  padding: 2rem;
}

h2 {
  margin-bottom: 0;
}

  .small-text {
    font-size: 75%;
  }

  .button-m {
    border: 3px solid #ccc;
    background-color: #333;
    border-radius: 8px;
    text-decoration: none;
    padding: .3em 1em .3em;
    font-size: .875rem;
  }

  .button-m:hover {
    border-color: #fe1616;
    background-color: #fb3a3a;
  }

  .no-margin {
    margin: 0;
  }

  .circle-text {
    padding-left: 1rem;
  }

  .circle-text {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    max-width: 50%;
    width: 50%;
    text-align: right;
    right: 13px;
    top: 35rem;
  }

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .circle-text {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    position: fixed;
    max-width: 50%;
    width: 35%;
    text-align: right;
    padding-right: 1rem;
    right: 13px;
    top: 25rem;
  }

  .person-circle {
    position: relative;
    top: 0rem;
    left: 33.33%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  .wrap {
    display: inline-block;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 5rem;
  }

  .light {
    display: flex;
    border-left: 1px solid;
    padding: .75rem;
    border-color: #333;
    width: 33.33%;
    flex-direction: column;
    justify-content: space-between;
  }

  .medium {
    display: flex;
    border-left: 1px solid;
    padding: .75rem;
    border-color: #333;
    width: 33.33%;
    flex-direction: column;
    justify-content: space-between;
  }

  .dark {
    display: flex;
    border-left: 1px solid;
    padding: .75rem;
    border-color: #333;
    width: 33.33%;
    flex-direction: column;
    justify-content: space-between;
  }

  .candy {
    display: flex;
    border-left: 1px solid;
    padding: .75rem;
    border-color: #333;
    width: 33.33%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0
  }

  .candy-text > h2 {
    margin-top: 0;
  }

  .candies {
    display: flex;
  }

  .main-events {
    display: flex;
  }

  .img-large {
    display: block;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
